.title-container{
    padding: 20px;
    margin-left: 3rem;
}
.education-container{
    color: aliceblue;
    margin-left: 5rem;
}
h3{
    color: aliceblue;
    font-size: 2rem;
}
button{
    margin-left: 1rem;
}