.edit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: antiquewhite;
    margin: 10px;
}

textarea{
    height: 100% !important;
}