<div class="works-container row">
    <div class="d-flex flex wrap">
        <img [src]=workData.urlImage class="img-work img-fluid" alt="Image work" width="200">
        <div class="text-work d-flex flex-column justify-content-center">
            <h5>{{workData.title}}></h5>
            <p class="work-description">{{workData.description}}</p>
            <p class="work-date">{{workData.periodo}}</p>
        </div>
    <div class="edition-container d-flex justify-content-center">
        <app-delete (click)="deleteWork(workData)"></app-delete>
        <app-edit [workDataIn]="workData"></app-edit>
    </div>
    </div>
</div>