<div class="profile-container col-xs-11 col-sm-11 col-md-11 col-lg-11">
    <div class="me-container">
        <img class="faceImg img-fluid" src="../../../assets/img/yo.jpeg" alt="Foto de perfil" width="250">
        <h1 class="name text-center">Alarcon Pablo Ariel</h1>
        <p class="title text-center">
            Full Stack Developer Jr
        </p>
    </div>
    <div class="about-container">
        <h3 class="section-title">Sobre Mí</h3>
        <p class="about-description text-center">
Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolores temporibus eaque enim, voluptatibus quas ut, tempora deleniti maxime possimus est! Sit nobis commodi error tenetur eaque nesciunt, eius amet.
        </p>
    </div>
</div>
