<div class="profile-container">
    <div class="me-container">
        <img class="faceImg img-fluid" src="../../../assets/img/yo.jpeg" alt="Foto de perfil" width="250">
        <h1 class="name text-center">Alarcon Pablo Ariel</h1>
        <p class="title text-center">
            Full Stack Web Developer
        </p>
    </div>
    <div class="text-about">
        <h3 class="section-title">Sobre Mí</h3>
        <p class="about-description text-justify">
me va bien
        </p>
    </div>
</div>
