.profile-container{
    margin: 0 50px;
    position:relative;
    padding-top: 5%;
}
.faceImg{
    border-radius: 50%;
    width: 10%;
    position: absolute;
    top:-5vw;
    left: 45%;
}
h1{
    text-shadow: 3px 3px 5px #000;
    color: aliceblue;
    font-size: 3rem;
}
.title{
    color: aliceblue;
    font-size: 2rem;
}
h3{
    color: aliceblue;
}
.about-description{
    color: aliceblue;
}

.faceImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
}