.profile-container{
    margin: 0 50px;
    position:relative;
    padding-top: 5%;
}
.faceImg{
    border-radius: 50%;
    width: 15%;
    position: absolute;
    top: -12vw;
    left: 43%;
}
h1{
    text-shadow: 3px 3px 5px #000;
    color: aliceblue;
    font-size: 3rem;
}
.title{
    color: aliceblue;
    font-size: 2rem;
}
h3{
    color: aliceblue;
    font-size: 2rem;
}

.about-container{
    background-color: rgb(70, 53, 28);
    padding: 20px;
}
.about-description{
    color: aliceblue;
    font-size: 1.5rem;
}

.faceImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
}