<div class="profile-container col-xs-11 col-sm-11 col-md-11 col-lg-11">
    <div class="me-container">
        <img class="faceImg img-fluid" src="../../../assets/img/yo.jpeg" alt="Foto de perfil" width="250">
        <h1 class="name text-center">Alarcón Pablo Ariel</h1>
        <p class="title text-center">
            Full Stack Developer Jr
        </p>
    </div>
    <div class="about-container">
        <h3 class="section-title">Sobre Mí</h3>
        <p class="about-description text-center">
Soy una persona que trabaja muy bien en equipo, soy programador y especialista en ventas y con muchas ganas de empezar a trabajar programando.
        </p>
    </div>
</div>
