<div class="skills-container row">
    <h3>Hard & Soft skills</h3>
    <div class="text-center col-sm-4 col-md-4 col-xs-4 col-lg-4">
        <circle-progress
  [percent]="85"
  [radius]="100"
  [showTitle]="true"
  [showSubtitle]="true"
  [showUnits]="false"
  [title]="'HTML y CSS'"
  [titleFontSize]="'25px'"
  [titleColor]="'white'"
  [subtitle]="'Muy bueno'"
  [subtitleFontSize]="'20px'"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="7"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'gray'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-xs-4 col-lg-4">
        <circle-progress
  [percent]="30"
  [radius]="100"
  [showTitle]="true"
  [showSubtitle]="true"
  [showUnits]="false"
  [title]="'Javascript'"
  [titleFontSize]="'25px'"
  [titleColor]="'white'"
  [subtitle]="'Muy bueno'"
  [subtitleFontSize]="'20px'"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="7"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'gray'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-xs-4 col-lg-4">
        <circle-progress
  [percent]="90"
  [radius]="100"
  [showTitle]="true"
  [showSubtitle]="true"
  [showUnits]="false"
  [title]="'Angular'"
  [titleFontSize]="'25px'"
  [titleColor]="'white'"
  [subtitle]="'Muy bueno'"
  [subtitleFontSize]="'20px'"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="7"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'gray'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-xs-4 col-lg-4">
        <circle-progress
  [percent]="100"
  [radius]="100"
  [showTitle]="true"
  [showSubtitle]="true"
  [showUnits]="false"
  [title]="'Trabajo en equipo'"
  [titleFontSize]="'25px'"
  [titleColor]="'white'"
  [subtitle]="'Muy bueno'"
  [subtitleFontSize]="'20px'"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="7"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'gray'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-xs-4 col-lg-4">
        <circle-progress
  [percent]="85"
  [radius]="100"
  [showTitle]="true"
  [showSubtitle]="true"
  [showUnits]="false"
  [title]="'Emprendedor'"
  [titleFontSize]="'25px'"
  [titleColor]="'white'"
  [subtitle]="'Muy bueno'"
  [subtitleFontSize]="'20px'"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="7"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'gray'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-xs-4 col-lg-4">
        <circle-progress
  [percent]="95"
  [radius]="100"
  [showTitle]="true"
  [showSubtitle]="true"
  [showUnits]="false"
  [title]="'Detallista'"
  [titleFontSize]="'25px'"
  [titleColor]="'white'"
  [subtitle]="'Muy bueno'"
  [subtitleFontSize]="'20px'"
  [outerStrokeWidth]="15"
  [innerStrokeWidth]="7"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'gray'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
</div>
